h1[b-50pqct9c3l]{
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
}

h2[b-50pqct9c3l]{
    font-family: 'League Spartan', sans-serif;
}
h3[b-50pqct9c3l]{
    font-family: 'League Spartan', sans-serif;
}
/* Styles for the About Us images section */
.aboutus-images[b-50pqct9c3l]{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}
/* Every image container */
.aboutus-image[b-50pqct9c3l] {
    position: relative;
    overflow: hidden;
}

/* Image */
.aboutus-image img[b-50pqct9c3l] {
    width: 500px;
    height: auto;
    display: block;
}

/* Overlay */
.image-overlay[b-50pqct9c3l] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 191, 99, 0.85);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: 'League Spartan';
    text-align: center;

    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Hover εμφάνιση */
.aboutus-image:hover .image-overlay[b-50pqct9c3l] {
    opacity: 1;
}

