/* Styles for the add product container */
.add_container[b-mvfa42ru7w] {
    display: flex;
    flex-direction: row;      
    justify-content: center; 
    gap: 15px;                
    margin-bottom: 15px;
    font-family: 'League Spartan', sans-serif;
}

/* Styles for individual fields */
.add_field[b-mvfa42ru7w] {
    display: flex;
    flex-direction: column;
}

.add_field label[b-mvfa42ru7w] {
    margin-bottom: 5px;
    font-weight: bold;
}
/* Heading styles */
h1[b-mvfa42ru7w]
{
      font-family: 'League Spartan', sans-serif;
      font-weight: bold;
}

h2[b-mvfa42ru7w]
{
      font-family: 'League Spartan', sans-serif;
}

.btn-primary[b-mvfa42ru7w] {
    background-color: #4CAF50; 
    border: none;
    font-family: 'League Spartan', sans-serif;
}