:host[b-j4icn0u1wz] {
    font-family: 'League Spartan', sans-serif;
}
h1[b-j4icn0u1wz]{
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
}
.btn[b-j4icn0u1wz] {
    font-family: 'League Spartan', sans-serif;
    background-color: #00bf63;
    border: none;
}
.mb-3 label[b-j4icn0u1wz] {
    justify-content: center;
    font-family: 'League Spartan', sans-serif;
    align-items: center;
}
