h1[b-8nds6ayiuh]{
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
}

h2[b-8nds6ayiuh]{
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
}
h3[b-8nds6ayiuh]{
    font-family: 'League Spartan', sans-serif;
}

.category-image img[b-8nds6ayiuh]{
    width: 400px;
    height: auto;
}
.category-container[b-8nds6ayiuh]{
    margin-bottom: 50px;;
}
.images-container[b-8nds6ayiuh]{
    justify-content: center;
    flex-direction: row;
    display: flex;
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}