h1[b-h5i316zjw0]{
   color: black;
   font-family: 'League Spartan', sans-serif;
   font-weight: bold;
}

.table[b-h5i316zjw0] {
    font-family: 'League Spartan', sans-serif;
    text-align: center;
}
td div[b-h5i316zjw0] {
    max-width: 400px;
}
.btn-primary[b-h5i316zjw0] {
    background-color: #00bf63;
    border-color: #00bf63;
    font-family: 'League Spartan', sans-serif;
}