@page "/aboutus"

<h1>ABOUT AGROMATRIX</h1>
<div class="aboutus-container">
    <div class="aboutus-text">
<h2>    Agromatrix SA is a leading provider of high-quality agricultural machinery parts and services worldwide. Starting in 1960, we have been committed to delivering excellence in every product and service we offer. From nuts and bolts to engine blocks and rotors, our parts are tested in the real world at the toughest conditions.</h2>
<h2>Our mission is to empower farmers and agricultural businesses with reliable, durable, and efficient machinery parts that enhance productivity and sustainability. We understand the critical role that agriculture plays in feeding the world, and we are dedicated to supporting this vital industry through innovation and quality.</h2>
    </div>
    <div class="aboutus-images">
        <div class="aboutus-image">
            <img src="deutzbonnet.png" alt="About Us Image 1" />
            <div class="image-overlay">
        <h3>Quality Since 1960</h3>
        <p>Our first parts where cast panels and parts for Deutz tractors</p>
        </div>
        </div>

        <div class="aboutus-image">
            <img src="agromatrixold.png" alt="About Us Image 2" />
            <div class="image-overlay">
        <h3>Quality Since 1960</h3>
        <p>Our parts were hand made by our skilled craftsmen</p>
        </div>
        </div> 
    </div>

    <h2>As time passed, Agromatrix evolved and expanded its product range to meet the growing needs of the agricultural industry.</h2>
    <h2>Today, we use state of the art manufacturing techniques and materials to ensure the highest quality and performance of our products. Our production plant is efficient and combines the use of skilled craftsmen and modern machinery systems.</h2>
    <div class="aboutus-images">
        <div class="aboutus-image">
            <img src="agromatrix3daxle.png" alt="About Us Image 1" />
            <div class="image-overlay">
        <h3>Continuously Evolving </h3>
        <p>We use modern manufacturing techniques and high-quality materials</p>
        </div>
        </div>

        <div class="aboutus-image">
            <img src="agromatrixfactory.png" alt="About Us Image 2" />
            <div class="image-overlay">
        <h3>Continuously Evolving</h3>
        <p>Our factory is 100% carbon neutral</p>
        </div>
        </div> 
    </div>

</div>    