@page "/oursolutions"
@attribute [StreamRendering]

<PageTitle>Our Solutions</PageTitle>

<h1>OUR SOLUTIONS</h1>

<h2>AGRICUTURAL PARTS</h2>
<div class=category-container>
<!-- Description Section -->
<div class="category-description">
<h3>High-quality, durable parts for Tractors, Combine and Forage Harvesters. We specialize in parts like
    <li>Panels</li>
    <li>Frames</li>
    <li>Engine Parts</li>
    <li>Hydraulic Parts</li>
    <li>Transmission Parts</li>
    <li>Pumps</li>
    <li>Rollers</li> 
</h3>
</div>
<!-- Images Section -->
<div class="images-container">
    <div class="category-image">
        <img src="deutzparts.png" alt="Agricultural Parts" />
    </div>
    <div class="category-image">
        <img src="claaslexiongears.png" alt="Agricultural Parts" />
    </div>
    <div class="category-image">
        <img src="agromatrixbolts.png" alt="Agricultural Parts" />
    </div>

</div>
<!-- Brands Section -->
<div class="category-description">
<h3>Our supported brands include 
    <li>John Deere</li>
    <li>CLAAS</li>
    <li>New Holland</li>
    <li>Deutz Fahr</li>
</h3>
</div>
</div>
<h2>SMART FARMING SOLUTIONS</h2>
<div class=category-container>
<!-- Description Section -->
<div class="category-description">  
<h3>Innovative solutions to enhance productivity and efficiency in agriculture. Our offerings include:
    <li>Precision Farming Tools</li>
    <li>IoT Sensors for Soil and Crop Monitoring</li>
    <li>Digital Farming Platforms</li>
    <li>Drones for Field Surveillance</li>
    <li>Integrated Machinery Control Systems</li>
    <li>GPS Systems</li>
</h3>
</div>
<!-- Images Section --> 
<div class="images-container">
    <div class="category-image">
        <img src="oldtractorgps.png" alt="Smart Farming Solutions" />
    </div>
    <div class="category-image">
        <img src="deutzcombinegps.png" alt="Smart Farming Solutions" />
    </div>
    <div class="category-image">
        <img src="small drone.png" alt="Smart Farming Solutions" />
    </div>
</div>
</div>
<h2>FABRICATION WORKS</h2>
<div class=category-container>
<!-- Description Section -->
<div class="category-description">
<h3>Custom fabrication services tailored to meet the unique needs of the agricultural sector. Our capabilities include:
    <li>Metal Fabrication</li>
    <li>Welding Services</li>
    <li>Machining and 3D Printing of parts</li>
    <li>Assembly of Agricultural Equipment</li>
    <li>Repair and Maintenance Services</li>
</h3>
</div> 
<!-- Images Section -->
<div class="images-container">
    <div class="category-image">
        <img src="agromatrix3dpanel.png" alt="Fabrication Works" />
    </div>
    <div class="category-image">
        <img src="tractorpartstesting.png" alt="Fabrication Works" />
    </div>
    <div class="category-image">
        <img src="universalcombinetracks.png" alt="Fabrication Works" />
    </div> 
</div>
</div>